.dashboard-area{
    margin-top: 150px;
    height: 85vh;
    background-color: #D5CABD;
    ;
}

/* background: #cfcfcf;
box-shadow: inset 7px 5px 10px #9f9f9f, 
            inset -7px -7px 14px #ffffff; */
.dashboard-left-menu{
    height: 85vh;
    background: #D5CABD;
    /* background: linear-gradient(145deg, #dddddd, #D5CABD); */
    box-shadow:  -7px 7px 14px #D5CABD, 
    7px -7px 14px #9f9f9f;
}
.dashboard-user-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.dashboard-avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.dashboard-avatar:hover {
    cursor: pointer;
}
.dashboard-user:hover{
    cursor: pointer;
}

.dashboard-user{ 
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    color: white;
}
.dashboard-menu-area{
    padding-left: 50px;
    /* font-weight: 700; */
    font-size: 20px;
}
.dashboard-menu-item{
    cursor: pointer;
    margin-top: 10px;
    padding: 0px 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.dashboard-menu-item:hover{
    /* border: 1px solid red; */
    background-color: #e6d4c0;
}


