.dashboard-area{
    margin-top: 150px;
    height: 85vh;
}
.dashboard-left-menu{
    height: 85vh;
    background-color: #cf7b7b;
    color: white;
}
.dashboard-user-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.dashboard-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dashboard-avatar:hover {
    cursor: pointer;
}
.dashboard-user:hover{
    cursor: pointer;
}

.dashboard-user{ 
    margin-top: 10px;
    /* text-transform: uppercase; */
    color: white;
}
.dashboard-menu-area{
    padding-left: 10px;
    /* font-weight: 700; */
    font-size: 20px;
}
.dashboard-menu-item{
    cursor: pointer;
    margin-top: 10px;
    padding: 0px 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.dashboard-menu-item:hover{
    /* border: 1px solid red; */
    background-color: #f2bfc7;
}


